$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  height: 100%;
  position: absolute;
  left: 0;
  right:0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;

}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
  }


  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

// Custom

// .btn-default {
//   border: 1px solid transparent !important;
//   border-color: transparent !important;

//   &:active {
//     border: 1px solid transparent !important;
//     outline: none  !important;
//     outline-offset: 0px !important;
//   }
//   &:focus {
//     border: 1px solid transparent !important;
//     outline-offset: 0px !important;
//     outline: none  !important;
//   }
// }

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.altura {
  position: relative;
  height:  100%;
  margin: 0px !important;
}


#index, #tolls, #aside, #new {
  padding: 10px 20px;
  display: none ;
}

#index {

background: rgb(75,51,160); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(75,51,160,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(75,51,160,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(75,51,160,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(75,51,160,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(75,51,160,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(75,51,160,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b33a0', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


#tolls {
  transition: background-color 300ms ease-out !important;
  background-color: #d9534f;
  color: white;
  z-index: 3;
  padding: 10px 0px;

    &:hover {
    background-color: #c44a46;
  }
}

#new {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#aside {
  opacity: 0;
  padding: 0 !important;
  -webkit-box-shadow: inset -3px -1px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset -3px -1px 10px 0px rgba(0,0,0,0.75);
box-shadow: inset -3px -1px 10px 0px rgba(0,0,0,0.75);
}




.selects {
  width:100% !important;
  text-align: center;
}

.select2-drop ,.select2-display-none, .select2-with-searchbox, .select2-drop-active{
  text-align: center;
}

.newInput {
  display: none;
  opacity: 0.4;
  transition: opacity 1000ms ease-out !important;
  &:hover{
    opacity: 1;
  }
}


.newInput2 ,.newInput3 ,.newInput4 ,.newInput5 {
  opacity: 0.5;
  &:hover{
    opacity:1;
  }
}
.well {
  background-color: transparent !important;
  border: 1px solid transparent !important;
  box-shadow: none !important;
  left: 50%; margin-left: -130px;  // atrelado ao calendar picker
}

p.input-group {
  position: relative;
  // margin-top: 10px;
}


input {
  // height: 26px !important;
}

#calaside {
  // display: none;
}

.btn {
  border-radius: 1px;
  transition: background-color 300ms ease-out !important;
  border: transparent !important;
}



/*  Schedules */

  .table-schedules {
        }

  .thead, .tbody, .tr, .td, .th {
    color: white;
    display: block;
    text-align: center;
    opacity: 0.95;
  }

  .tr:after {
      content: ' ';
      display: block;
      visibility: hidden;
      clear: both;
  }

  .trr {
  transition: background 300ms ease-out ;
    &:hover {
      background:rgba(0,0,0,0.35);;
      color: white !important;
      cursor: pointer;
    }
  }
  .thead {
}
  .thead th {

      /*text-align: left;*/
  }
  .tbody {
      max-height: 450px;
      overflow: auto;
  }

  .thead {
      /* fallback */
  }


  .tbody .td, .thead .th {
      float: left;
  }

  .btn-link {
    background: white;
  }

  .div-filter{
    position: absolute;
    margin-left: -100px;
    bottom: 25px;
    background: transparent !important;
    height: 40px;
    width: 200px;
    left: 50%;
    border-radius: 4px;
  }

.div-filter > input {
  background: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.3) ;
}

.btn-traps {
  background-color: transparent;
  color: white;
  border: 1px solid white !important;
  opacity: 0.8;
  position: absolute ;
  right: 10px !important;

  &:hover {
    background-color: transparent;
    box-shadow: 0px 0px 5px white;
    color: white;
    opacity: 0.8;
  }
  &:active{
    opacity: 0.8;
    box-shadow: inset 0px 0px 5px white;
  }
}

.btn-link{
  height: 20px !important;
  padding: 0px;
  background: transparent;
}


/* ng animate */
// .example-animate-container {
//   background:white;
//   border:1px solid black;
//   list-style:none;
//   margin:0;
//   padding:0 10px;
// }

// .animate-repeat {
//   line-height:40px;
//   list-style:none;
//   box-sizing:border-box;
// }

// .animate-repeat.ng-move,
// .animate-repeat.ng-enter,
// .animate-repeat.ng-leave {
//   -webkit-transition:all linear 0.5s;
//   transition:all linear 0.5s;
// }

// .animate-repeat.ng-leave.ng-leave-active,
// .animate-repeat.ng-move,
// .animate-repeat.ng-enter {
//   opacity:0;
//   max-height:0;
// }

// .animate-repeat.ng-leave,
// .animate-repeat.ng-move.ng-move-active,
// .animate-repeat.ng-enter.ng-enter-active {
//   opacity:1;
//   max-height:40px;

// }



.input-help {
position: absolute;
right: 25px;
top: 0px;
color: rgba(144, 145, 145, 0.58);
font-size: 1.3em;
padding: 8px 0px;
z-index: 3;
}

.input-group > .input-help {
right: 46px;
}

.form-group, .input-group {
  .popover {
  width: 240px !important;
  right: 20px !important;
  left: initial !important;
  }
}

.border-left {
  border-bottom-left-radius: 4px  !important;
  border-top-left-radius: 4px  !important;
}

.border-right {
  border-bottom-right-radius: 4px  !important;
  border-top-right-radius: 4px  !important;
  text-align: center;
}

.seta-baixo:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid white;
  opacity: 0.7;
  position: absolute;
  right: 48%;
}



.btn-tolls {
  width: 100%;
  background-color: trasparent !important;
  background-color: transparent;
  color: white;
  transition: color 600ms ease-out !important;
  &:active{
  // color: #dddedf
  box-shadow: none;
  }

}


