<!--
-->
<!-- Tolls -->
<!--
-->
<div class="altura col-xs-1 " id="tolls" style="">123
</div>
<!--
-->
<!-- Aside -->
<!--
-->
<div class="altura col-xs-1 " style='background-color: white ; z-index: 1' id="aside">
	<div style="display:inline-block; min-height:290px;">
		<datepicker ng-model="dt.cal" year-range="2" min-date="minDate" show-weeks="false" class="well well-sm" id="calaside" style="margin-top: 50px;!important; position: absolute;"></datepicker>
	</div>    </div>
</div>
<!--
-->
<!-- Index -->
<!--
-->
<div class="altura col-xs-12" id="index" style="z-index: 1">
	<div class="row">
		<div class="col-xs-12">
			<a style="" href="javascript:void(0)" id="new-schedule">Toggle</a>
			<p></p>
		</div>
	</div>
</div>
<!--
-->
<!-- ScheduleForm -->
<!--
-->


<div class="altura col-xs-1" style= "" id="new">
	<div class="row">



		<div style="padding: 0 0 20px 0; text-align:center " class="col-xs-12">

<h3>Novo Horário</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<input type="text" id="selectClient" ng-model="schedule.cliente" class="selects">
		</div>
	</div>
	<p></p>
	<p></p>
	<div class="row">
		<!-- Date Picker -->
		<div class="col-xs-8">
			<p class="input-group">
			<input type="text" class="form-control" datepicker-popup="EEE, dd 'de' MMMM" ng-model="dt.selected" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="" ng-required="true" close-text="Fechar" current-text="Hoje" clear-text="Limpar" show-weeks="false"  ng-click="open($event)" style="" />
			<span class="input-group-btn">
			<button type="button" class="btn btn-info" ng-click="open($event)"  style=" height:26px; padding:0 10px; "><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
			</p>
		</div>
		<!-- //  -->

		<!-- Time Picker -->
		<div class="col-xs-4">
			<timepicker ng-model="time.selected" show-meridian="false" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" style="position: relative; ; left: 50%; margin-left:-50px"></timepicker>
		</div>
		<!-- //  -->
	</div>
	<p></p>
	<div class="row">
		<!-- Select Service -->
		<div class="col-xs-6">
			<input type="text" id="selectService" ng-model="service.selected" class="selects">
		</div>
		<!-- //  -->
		<!-- Select Employee -->
		<div class="col-xs-6">
			<input type="text" id="selectEmployee" ng-model="employee.selected" class="selects">
		</div>
		<!-- //  -->
	</div>
	<p></p>
	<!-- // Loop Inputs for employee and Service -->
	<!-- 2 -->
	<div class="row newInput newInput2">
		<div class="col-xs-6">
			<input type="text" id="selectService2" ng-model="service2.selected" class="selects">
		</div>
		<div class="col-xs-6">
			<input type="text" id="selectEmployee2" ng-model="employee2.selected" class="selects">
		</div>
	</div>
	<p></p>
	<!-- 3 -->
	<div class="row newInput3 newInput">
		<div class="col-xs-6">
			<input type="text" id="selectService3" ng-model="service3.selected" class="selects">
		</div>
		<div class="col-xs-6 ">
			<input type="text" id="selectEmployee3" ng-model="employee3.selected" class="selects">
		</div>
	</div>
	<p></p>
	<!-- 4 -->
	<div class="row newInput newInput4">
		<div class="col-xs-6 ">
			<input type="text" id="selectService4" ng-model="service4.selected" class="selects">
		</div>
		<div class="col-xs-6">
			<input type="text" id="selectEmployee4" ng-model="employee4.selected" class="selects">
		</div>
	</div>
	<p></p>
	<!-- 5 -->
	<div class="row newInput newInput5">
		<div class="col-xs-6 ">
			<input type="text" id="selectService5" ng-model="service5.selected" class="selects">
		</div>
		<div class="col-xs-6 newInput5">
			<input type="text" id="selectEmployee5" ng-model="employee5.selected" class="selects">
		</div>
	</div>
		<a href="javascript:void(0)" id="cancelNewSche"class="btn btn-info" style="position: absolute; right: 50% ; bottom: 40px;
margin-right:-2px">Cancelar</a>

		<a href="javascript:void(0)" class="btn btn-success" style="position: absolute; right: 50% ; bottom: 40px;
margin-right: -72px;">Pronto!</a>

	<p></p>
</div>
<script src='../scripts/jqSystem.js'></script>
