<!--. Panel - Tolls -->
<!-- <div class="altura col-xs-1 " id="tolls" style="">
	<a class="btn btn-tolls" href="#/agenda"><span style="font-size: 1.4em" class="glyphicon glyphicon-calendar"></span><p />Agenda</a><hr>
	<a class="btn btn-tolls" href="#"><span style="font-size: 1.4em" class="glyphicon glyphicon-envelope"></span><p />Email</a><hr>
	<a class="btn btn-tolls" style="" href="#"><span style="font-size: 1.4em" class="glyphicon glyphicon-retweet"></span><p/>Promoção </a><hr>
	<a class="btn btn-tolls" href="#"><span style="font-size: 1.4em" class="glyphicon glyphicon-cog"></span><p />Admin</a>
	<span id='relogio' class="pull-right" ></span>
</div> -->
<!--. Panel - Aside -->
<div class="altura col-xs-1 " style='background-color: white ; z-index: 1' id="aside">
	<div class="col-sm-12">
		<div id='schedule-aside-inside' style="padding: 60px 0 0 0 ;">
			<!-- Avatar -->
			<img src="http://placehold.it/200x200" id="avatar-client" style="left: 50%;position: relative;margin-left: -100px;" alt="">
	<ng-clock></ng-clock>
		</div>
		<hr>
	</div>
	<div style="display:inline-block; min-height:290px;">
		<datepicker class="well well-sm" id="calaside" style="!important; position: absolute; z-index: 0" ng-model="dt.cal" year-range="2" min-date="minDate" show-weeks="false" ></datepicker>
	</div>
</div>
<!--. Panel - Index -->
<div class="altura col-xs-12" id="index" style="z-index: 1000">
	<div class="col-xs-12" style=" position:relative; height: 100%">
		<h2 class='tr'>Próximos horarios</h2>
		<table class="table table-schedules" >
			<thead class="thead">
				<tr class="tr">
					<th class="th" style="width:15%">Horario</th>
					<th class="th" style="width:30%">Cliente</th>
					<th class="th" style="width:20%">Profissional</th>
					<th class="th" style="width:35%">Serviço</th>
				</tr>
			</thead>
			<tbody class="tbody" style="position:relative; top:0px; " >
				<tr style="border-bottom: 1px solid #696969;" class="tr animate-repeat trr"
					ng-repeat="schedule in schedules | filter:searchText.data " ng-animate="'animate'">
					<td class="td" style=";width:15%">{{schedule.hour}}<!-- <span ng-model="" ui-timepicker>{{ schedule.maskHours}}</span> --></td>
					<td class="td" style=";width:30%">{{schedule.client}}</td>
					<td class="td" style=";width:20%">{{schedule.employee}}</td>
					<td class="td" style=";width:35%">{{schedule.service.join(', ') |inflector:humanize}} </td>
				</tr>
				<tr class="tr trr" ng-show="client" style="" id="nnn">
					<td class="td" style="width:15%"><span ng-model="schedule.hour" ui-timepicker>{{ mytime | date:'shortTime' }}</span></td>
					<td class="td" style="width:30%">{{client.name}}</td>
					<td class="td" style="width:20%">{{employee.name}}</td>
					<td class="td" style="width:35%">{{service.name}}</td>
				</tr>
			</tbody>
			<div ></div>
		</table>
		<span class="seta-baixo" style="text-align: center;" ng-show="schedules.length"></span>
	</div>
	<a id='new-schedule' class="btn btn-default btn-traps" style="position: absolute; right: 50% ; bottom: 40px;margin-right: 0px;" href="javascript:void(0);" >Novo Horário</a>
	<div class="div-filter">
		<span style="color: white;" class="glyphicon glyphicon-search"></span>
		<input style="" placeholder="Procure na tabela" class="search-query" type="text"ng-model="searchText.data" >
	</div>
</div>
<!--. Panel - New Schedule -->
<div id="new" class="altura col-xs-1" >
	<form novalidate name="newSchedule">
		<div class="row">
			<div style="padding: 0 0 10px 0; text-align:center " class="col-xs-12">
				<h3>Novo Horário</h3>
			</div>
		</div>
		<div class="row">
			<!--. Client Select -->
			<div class="col-xs-12">
				<div class="input-group">
					<input id="clientSelect" class="form-control border-left" ng-model="data.client" typeahead-editable="false" typeahead="client as client.name for client in clients | filter:{name:$viewValue}" placeholder="Cliente" required>
					<span style="" class=" input-help glyphicon glyphicon-info-sign" popover-placement="top" popover="Insira o nome ou telefone do cliente, caso o mesmo não esteja cadastrado, faça-o clicando no botão ao lado." popover-trigger="mouseenter" ></span>
					<span class=" input-group-btn">
					<button type="button" class=" border-right btn btn-info" ng-click="open($event)" style=" height:34px;"><i class="glyphicon glyphicon-plus"></i></button>
					</span>
				</div>
			</div>
		</div>
		<div class="row"><br><p></p>
			<div class="col-xs-8">
				<!--. Date Picker -->
				<div class="input-group">
					<input id="datePicker" class=" form-control" datepicker-popup="EEE, dd 'de' MMMM" ng-model="dt.selected" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="" ng-required="true" close-text="Fechar" current-text="Hoje" clear-text="Limpar" show-weeks="false" ng-click="open($event)" ng-focus="open($event)" style="" required placeholder="Data" />
					<span class="input-group-btn">
					<button type="button" class="btn btn-info border-right" ng-click="open($event)" style=" height:34px;"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
			<!--. Time Picker -->
			<div class="col-xs-4 form-group">
				<input name="ccnum" id="timePicker" style=" border-radius: 3px !important" class="form-control border-right border-left" ui-mask="99 : 99" ng-model="tm.selected" placeholder="__ : __" />
				<span popover-placement="bottom" popover='Exemplo: "O Cliente terá uma festa e não pode se atrasar." .' popover-trigger="mouseenter" class=" input-help glyphicon glyphicon-info-sign"></span>
			</div>
		</div>
		<div class="row"><p></p>
			<!--. Time Picker -->
			<div class="col-xs-12 form-group">
				<input id="psTextArea" ROWS=3 type="text" ng-model="ps" class="form-control" placeholder="Observação">
				<span style="" popover-placement="bottom" popover='Exemplo: "O Cliente terá uma festa e não pode se atrasar." .' popover-trigger="mouseenter" class=" input-help glyphicon glyphicon-info-sign"></span>
			</div>
		</div>
		<!--. 1 -->
		<div class="row"><p></p>
			<!-- Service -->
			<div class="col-xs-6 ">
				<input id="serviceSelect1" type="text" class="form-control" placeholder="Serviço" ng-model="service" typeahead-editable="false" typeahead="service as service.name for service in services | filter:{name:$viewValue}" required>
				<span style="" class=" input-help glyphicon glyphicon-info-sign" popover-placement="bottom" popover="Insira o nome ou telefone do cliente, caso o mesmo não esteja cadastrado, faça-o clicando no botão ao lado." popover-trigger="mouseenter" ></span>
			</div>
			<!-- Employee -->
			<div class="col-xs-6 form-group">
				<input 	id="employeeSelect1" type="text" class="form-control" ng-disabled="!service" ng-model="employee" placeholder="Profissional" typeahead-editable="false" typeahead="employee as employee.name for employee in service.employees | filter:{name:$viewValue}" required>
				<span class=" input-help glyphicon glyphicon-info-sign" popover-placement="bottom" popover="Insira o nome ou telefone do cliente, caso o mesmo não esteja cadastrado, faça-o clicando no botão ao lado." popover-trigger="mouseleave" ></span>
			</div>
		</div>
		<!--. 2 -->
		<div class="row newInput2" collapse="!employee">
			<!-- Service -->
			<div class="col-xs-6 form-group">
				<input placeholder="Outro serviço" id="serviceSelect2" class="form-control" type="text" ng-model="service2" typeahead-editable="false" typeahead="service as service.name for service in services | filter:{name:$viewValue}" >
			</div><span style="position: absolute"></span>
			<!-- Employee -->
			<div class="col-xs-6 form-group">
				<input placeholder="Outro profissional" id="employeeSelect2" type="text" class="form-control" ng-disabled="!service2" ng-model="employee2" typeahead-editable="false" typeahead="employee as employee.name for employee in service.employees | filter:{name:$viewValue}" >
			</div>
		</div>
		<!--. 3 -->
		<div class="row newInput3" collapse="!employee2">
			<!-- Service -->
			<div class=" ">
				<div class="form-group col-xs-6">
					<input 	id="serviceSelect3" type="text" class="form-control" placeholder="Outro Serviço" ng-model="service3" typeahead-editable="false" typeahead="service as service.name for service in services | filter:{name:$viewValue}" >
				</div>
			</div>
			<!-- Employee -->
			<div class="col-xs-6 form-group">
				<input id="employeeSelect3" type="text" class="form-control" placeholder="Outro profissional" ng-model="employee3" ng-disabled="!service3" typeahead-editable="false" typeahead="employee as employee.name for employee in service.employees | filter:{name:$viewValue}">
			</div>
		</div>
		<!--. 4 -->
		<div class="row newInput4" collapse="!employee3">
			<!-- Service -->
			<div class="col-xs-6 form-group">
				<input id="serviceSelect4" type="text" class="form-control" placeholder="Outro Serviço" ng-model="service4" typeahead-editable="false" typeahead="service as service.name for service in services | filter:{name:$viewValue}" >
			</div>
			<!-- Employee -->
			<div class="col-xs-6 form-group">
				<input id="employeeSelect4" type="text" class="form-control" placeholder="Outro profissional" ng-model="employee4" ng-disabled="!service4" typeahead-editable="false" typeahead="employee as employee.name for employee in service.employees | filter:{name:$viewValue}">
			</div>
		</div>
		<!--. 5 -->
		<div class="row newInput5" collapse="!employee4">
			<!-- Service -->
			<div class="col-xs-6 form-group">
				<input id="serviceSelect5" type="text" class="form-control" placeholder="Outro Serviço" ng-model="service5" typeahead-editable="false" typeahead="service as service.name for service in services | filter:{name:$viewValue}" >
			</div>
			<!-- Employee -->
			<div class="col-xs-6 form-group">
				<input id="employeeSelect5" type="text" class="form-control" placeholder="Outro Profissional"  ng-disabled="!service5" ng-model="employee5" typeahead-editable="false" typeahead="employee as employee.name for employee in service.employees | filter:{name:$viewValue}" >
			</div>
		</div>
		<!-- Buttons -->
		<div class="col-xs-12">
		</div>
		<a href="javascript:void(0)" id="cancelNewSche"class="btn btn-danger" style="position: absolute; right: 50% ; bottom: 40px; margin-right:-2px">Cancelar</a>
		<button href="javascript:void(0)" type="submit" class="btn btn-success" popover="SMS: Olá {{data.client.name |inflector:inflectorType}}! {{service.name |inflector:inflectorType}} agendado para {{dt.selected | date:'EEEE'}}, ás {{tm.selected.substr(0,2)}}:{{tm.selected.substr(2,2)}}. Studio Z Cabeleireiros" popover-placement="top" popover-trigger="mouseenter" style="position: absolute; right: 50% ; bottom: 40px; margin-right: -72px;" ng-click="save();" ng-disabled="newSchedule.$invalid" >Pronto!</button>
	</form>
</div>
<script src='../scripts/jqSystem.js'></script>
